body{
    margin: 0;
    box-sizing: border-box;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 5rem;
    background-color: seashell;
}

header {
    display: flex;
    justify-content: space-between;

    flex: auto;
    width: 100%;
    
    background-color: rgb(241, 225, 204);
}

p {
    font-size: 2rem;
    color: rgb(0, 13, 15);
    justify-self: left;
    padding-left: 0.1rem;
    margin: 1rem;
    text-wegiht: bold;
}

div.option {
    display: flex;
    gap: 1rem;
}

.main {
    width: 700px;
    height: 700px;
    background-color: white;
    border: 5px solid black; /* Optional: makes it visible even if empty */
}

